{% extends 'base.html' %}

{% block title %} Manage Department{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Manage Department</h1>
    <a href="{% url 'department_create' %}">
        <button class="btn btn-primary focus-ring">
            <i class="bi bi-plus-lg"></i> New Department
        </button>
    </a>
</div>
<div class="row p-3 my-3 bg-white shadow rounded-3">
    <div class="col">
        <table id="departmentTable" class="table table-striped table-hover">
            <thead>
            <tr>
              	<th>ID</th>
            	<th>Department Name</th>
            	<th>Managed By</th>
            	<th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for department in departments%}
            <tr>
                <td>{{ department.department_id }}</td>
            	<td>{{ department.department_name }}</a></td>
            	<td>{{ department.employee }}</td>
                <td>
                    <a href="{% url 'department_update' department.department_id %}">
                        <button class="btn btn-sm btn-secondary" title="Update Management">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th>ID</th>
            	<th>Department Name</th>
            	<th>Managed By</th>
            	<th>Actions</th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    $('#departmentTable').DataTable({});
</script>
{% endblock %}
