{% extends 'base.html' %}
{% block title %} Manage Inventory {% endblock %}
{% load static %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Manage Order</h1>
    {% csrf_token %}
    <button id="submitData" class="btn btn-primary" data-redirect-url="{% url 'order_management' %}"> Mark as Received</button>

</div>
<div class="row p-3 my-3 bg-white shadow rounded-3">
    <div class="col">
        <table id="inventoryTable" class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Item ID</th>
                <th>Product Name</th>
                <th>Product Category</th>
                <th>Product Quantity</th>
                <th>Product Price Per Unit</th>
            </tr>
            </thead>
            <tbody>
            {% for invoice in invoices %}
            <tr>
                <td> {{ invoice.invoice_product_id}}</td>
                <td> {{ invoice.product_id.product_name }} </td>
                <td> {{ invoice.product_id.product_category}} </td>
                <td> {{ invoice.invoice_quantity}} </td>
                <td> {{ invoice.invoice_price_per_unit | floatformat:2}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}


{% block scripts %}
<script>
$(document).ready(function(){

    $('#submitData').click(function(){
        var csrf_token = $('input[name=csrfmiddlewaretoken]').val();
        $.ajax({
            method:'POST',
            headers : {'X-CSRFToken' : csrf_token},
            success : function(data){
                if (data.success){
                    alert('Successfully Updated Data');
                    window.location.href=$('#submitData').data('redirect-url');
                }   
            }
        })
    });

});

</script>


{% endblock %}