<!-- templates/dashboard/dashboard.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% load static %}


{% block content %}
<div class="container my-4">
    <div class="row mb-4">
        <div class="row justify-content-around">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                    This is some text within a card body.
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <h3 style="margin-left:10px;margin-top:10px;"class="card-title">Product Details</h3>
                    <div class="card-body">
                       
                        <div class="d-flex flex-col">
                            <h5>Low Stock Items: </h5>
                            <span id="low-stock"> </span>
                        </div>
                        <div class="d-flex flex-col">
                            <h5>All Item Groups:</h5>
                            <span id="Category"></span>
                        </div> 
                        <div class="d-flex flex-col">
                            <h5>All Items: </h5>
                            <span></span>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row justify-content-around">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                    This is some text within a card body.
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}



{% block scripts %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{%static 'js/chart.js' %}"></script>

{% endblock %}



