{% extends 'base.html' %}

{% block title %} Customers {% endblock %}

{% block content %}
{% load widget_tweaks %}
<div class="container-fluid row my-4 cust-container px-5">
    <div class="col-6 bg-white shadow 100vh p-3 rounded">
        <form method="POST" class="form" id="create-customer-form">
            {% csrf_token %}
            <div class="row my-3">
                <div class="col-6">
                    <label for="first-name" class="form-label"> First Name </label>
                    {% render_field form.first_name placeholder="First Name" class+="form-control"  %}
                </div>
                <div class="col-6">
                    <label for="last-name" class="form-label"> Last Name </label>
                    {% render_field form.last_name placeholder="Last Name" class+="form-control"  %}
                </div>
            </div>
            <div class="row my-3">
                <div class="col-6">
                    <label for="email-address" class="form-label"> Email Address </label>
                    {% render_field form.email_address placeholder="Email" class+="form-control"  %}
                </div>
                <div class="col-6">
                    <label for="phone-number" class="form-label"> Phone Number </label>
                    {% render_field form.phone_number placeholder="Phone" class+="form-control"  %}
                </div>
            </div>
            <div class="row my-3">
                <div class="col-6">
                    <label for="date-of-birth" class="form-label"> Date of birth </label>
                    {% render_field form.date_of_birth placeholder="Date of Birth" class+="form-control"  %}
                </div>
                <div class="col-6">
                    <label for="country" class="form-label"> Country </label>
                    {% render_field form.country placeholder="Country" class+="form-select"  %}
                </div>
            </div>
            <div class="row my-3">
                <div class="col-6">
                    <label for="status" class="form-label"> Status </label>
                    {% render_field form.membership_status placeholder="Status" class+="form-select"  %}
                </div>
                <div class="col-6">
                    <label for="gender" class="form-label"> Gender </label>
                    {% render_field form.gender placeholder="Gender" class+="form-select"  %}
                </div>
            </div>
            <div class="row my-3">
                <div class="col">
                    <label for="address" class="form-label"> Address </label>
                    {% render_field form.address placeholder="Address" class+="form-control"  %}
                </div>
            </div>
            <div class="row mt-5">
                <div class="d-flex justify-content-end gap-4">
                    <a href="{% url 'customer_management' %}" class="btn btn-secondary" id="submit">Cancel</a>
                    <button type="submit" class="btn btn-primary" id="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}