{% extends 'base.html' %}

{% block title %} Customers {% endblock %}

{% block content %}
    {% load widget_tweaks %}
    <div class="container-fluid my-4 cust-container px-2">
        <h1 class="mb-3">Manage Customers</h1>
        <div class="row mb-5 p-3 bg-white shadow rounded">
            <div class="col-4">
                <i class="bi bi-people-fill fs-1"></i>
                <h1 class="fw-bold"> {{ total_customers }} </h1>
                <p> Total Customers </p>
            </div>
            <div class="col-4">
                <i class="bi bi-play-circle-fill fs-1"></i>
                <h1 class="fw-bold"> {{ active_customers }} </h1>
                <p> Active Customers </p>

            </div>
            <div class="col-4">
                <i class="bi bi-pause-circle-fill fs-1"></i>
                <h1 class="fw-bold"> {{ inactive_customers }} </h1>
                <p> Inactive Customers </p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col mb-4 px-0">
                <div class="bg-white rounded shadow p-3">
                    <form method="GET" class="form-group" id="filter-customer-form"
                          action="{% url 'customer_management' %}">
                        <div class="btn-container d-flex justify-content-start mb-4">
                            <button class="btn btn-secondary"><i class="bi bi-funnel-fill"></i> Filter</button>
                            <a class="btn btn-primary ms-3" href="{% url 'create_customer' %}"><i
                                    class="bi bi-person-fill-add"></i>
                                New Customer
                            </a>
                        </div>
                        <div>
                            <a class="btn btn-outline" data-bs-toggle="collapse" href="#filterCollapse" role="button"
                               aria-expanded="false" aria-controls="collapseExample">
                                <i class="bi bi-chevron-down"></i>
                                Filter Options
                            </a>
                        </div>
                        <div class="row collapse m-3" id="filterCollapse">
                            <div class="col-6">
                                {% render_field filter.full_name.label_tag %}
                                {% render_field filter.full_name class+="form-control" %}

                                Email:
                                {% render_field filter.email_address__icontains class+="form-control" %}
                            </div>
                            <div class="col-6">
                                Address:
                                {% render_field filter.address__icontains class+="form-control" %}

                                {% render_field filter.phone_number.label_tag %}
                                {% render_field filter.phone_number class+="form-control" %}
                            </div>
                        </div>
                    </form>
                    <table id="custTable" class="table table-hover">
                        <thead>
                        <tr>
                            {# name, address, phone number, email address#}
                            <th> Name</th>
                            <th> Address</th>
                            <th> Phone Number</th>
                            <th> Email</th>
                            <th> Status</th>
                            <th> Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for membership in memberships %}
                            <tr role="button" data-id="{{ membership.member_id }}">
                                <td>
                                    {{ membership.first_name }} {{ membership.last_name }}
                                </td>
                                <td> {{ membership.address }}
                                </td>
                                <td> {{ membership.phone_number }}
                                </td>
                                <td>{{ membership.email_address }}
                                </td>
                                <td> {{ membership.membership_status }}
                                </td>
                                <td>
                                    <a href="{% url 'customer_details' membership.member_id %}"
                                       class="btn btn-sm btn-primary"
                                       title="View Customer">
                                        <i class="bi bi-eye-fill"></i>
                                    </a>
                                    <a href="{% url 'update_customer' membership.member_id %}"
                                       class="btn btn-sm btn-secondary"
                                       title="Update Product">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                    <a onclick="openDeleteCustomerModal('{{membership.member_id}}','{{membership.first_name}} {{membership.last_name}}')" data-bs-toggle="modal" data-bs-target="#deleteCustomerViewModal" 
                                       class="btn btn-sm btn-danger" title="Delete Product">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <ul>

    </ul>

    {% include './modal/delete_customer_details.html' %}

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#custTable').DataTable({
                "columnDefs": [
                    {"orderable": false, "targets": [0, 5]} // Disables sorting on the first and last columns
                ],
                "paging": true, // Enable pagination
                "pageLength": 10, // Set the number of items per page
                "pagingType": "simple_numbers"
            });

            var collapseElement = document.getElementById('filterCollapse'); // Replace 'collapseExample' with your collapse element's ID
            var triggerElement = document.querySelector('[data-bs-toggle="collapse"][href="#filterCollapse"], [data-bs-toggle="collapse"][data-bs-target="#filterCollapse"]'); // Adjust selector as needed

            collapseElement.addEventListener('show.bs.collapse', function () {
                triggerElement.querySelector('.bi').classList.remove('bi-chevron-down');
                triggerElement.querySelector('.bi').classList.add('bi-chevron-up');
            });

            collapseElement.addEventListener('hide.bs.collapse', function () {
                triggerElement.querySelector('.bi').classList.remove('bi-chevron-up');
                triggerElement.querySelector('.bi').classList.add('bi-chevron-down');
            });
        });

        $("#submitDeleteCustomerID").on("click", function(){
            deleteCustomer();
        })

        function openDeleteCustomerModal(customerID, customerName){
            
            $('#deleteCustomerID').val(customerID);
            $('#deleteCustomerName').text(customerName);
            $("#deleteProductViewModal").modal('show');

        }

        function deleteCustomer(){
            customerID = $('#deleteCustomerID').val();
            var csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
            
            $.ajax({
                url: `delete/${customerID}`,
                method: 'DELETE',
                headers: { 'X-CSRFToken': csrf_token },
                success: function (response) {
                    window.location.reload();
                }
            });

        }


    </script>
{% endblock %}