{% extends 'base.html' %}

{% block title %} Customers {% endblock %}

{% block content %}
    <div class="container-fluid my-4 cust-container px-5">
        <div class="row mb-4 cust-stats-container">
            <div class="col-lg-4 col-md-6 mb-4 ps-0">
                <div class="cust-stats bg-white shadow h-100">
                    <i class="bi bi-people-fill fs-1"></i>
                    <h1 class="fw-bold"> 2 </h1>
                    <p> Total Customers </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="cust-stats bg-white shadow h-100">
                    <i class="bi bi-play-circle-fill fs-1"></i>
                    <h1 class="fw-bold"> 2 </h1>
                    <p> Active Customers </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 pe-0">
                <div class="cust-stats bg-white shadow h-100">
                    <i class="bi bi-pause-circle-fill fs-1"></i>
                    <h1 class="fw-bold"> 2 </h1>
                    <p> Inactive Customers </p>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col mb-4 px-0">
                <div class="bg-white rounded shadow p-3">
                    <div class="btn-container d-flex justify-content-start mb-4">
                        <button class="btn btn-secondary"><i class="bi bi-funnel-fill"></i> Filter</button>
                        <a class="btn btn-primary ms-3" href="{% url 'create_customer' %}"><i
                                class="bi bi-person-fill-add"></i>
                            New Customer
                        </a>
                    </div>
                    <table id="custTable" class="table table-hover">
                        <thead>
                        <tr>
                            {# name, address, phone number, email address#}
                            <th> Name</th>
                            <th> Address</th>
                            <th> Phone Number</th>
                            <th> Email</th>
                            <th> Status</th>
                            <th> Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for membership in memberships %}
                            <tr role="button" data-id="{{ membership.member_id }}">
                                <td>
                                    {{ membership.first_name }} {{ membership.last_name }}
                                </td>
                                <td> {{ membership.address }}
                                </td>
                                <td> {{ membership.phone_number }}
                                </td>
                                <td>{{ membership.email_address }}
                                </td>
                                <td> {{ membership.membership_status }}
                                </td>
                                <td>
                                    <a href="{% url 'customer_details' membership.member_id %}" class="btn btn-sm btn-primary"
                                       title="View Customer">
                                        <i class="bi bi-eye-fill"></i>
                                    </a>
                                    <a href="{% url 'update_customer' membership.member_id %}" class="btn btn-sm btn-secondary"
                                       title="Update Product">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                    <a href="{% url 'delete_customer' membership.member_id %}"
                                       class="btn btn-sm btn-danger" title="Delete Product">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <ul>

    </ul>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#custTable').DataTable({
                "columnDefs": [
                    {"orderable": false, "targets": [0, 5]} // Disables sorting on the first and last columns
                ],
                "paging": true, // Enable pagination
                "pageLength": 10, // Set the number of items per page
                "pagingType": "simple_numbers"
            });
        });
    </script>
{% endblock %}