{% extends 'base.html' %}

{% block title %} Customers {% endblock %}

{% block content %}
    <div class="container-fluid my-4 cust-container px-5">
        <div class="row mb-4 cust-stats-container">
            <div class="col-lg-4 col-md-6 mb-4 ps-0">
                <div class="cust-stats bg-white shadow h-100">
                    <i class="bi bi-people-fill fs-1"></i>
                    <h1 class="fw-bold"> 2 </h1>
                    <p> Total Customers </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="cust-stats bg-white shadow h-100">
                    <i class="bi bi-play-circle-fill fs-1"></i>
                    <h1 class="fw-bold"> 2 </h1>
                    <p> Active Customers </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 pe-0">
                <div class="cust-stats bg-white shadow h-100">
                    <i class="bi bi-pause-circle-fill fs-1"></i>
                    <h1 class="fw-bold"> 2 </h1>
                    <p> Inactive Customers </p>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col mb-4 px-0">
                <div class="bg-white rounded shadow p-3">
                    <div class="btn-container d-flex justify-content-start mb-4">
                        <button class="btn btn-secondary"><i class="bi bi-funnel-fill"></i> Filter</button>
                        <a class="btn btn-primary ms-3" href="{% url 'create_customer' %}"><i class="bi bi-person-fill-add"></i>
                            New Customer
                        </a>
                    </div>
                    <table id="custTable" class="table table-hover">
                        <thead>
                        <tr>
                            {# name, address, phone number, email address#}
                            <th> #</th>
                            <th> Name</th>
                            <th> Address</th>
                            <th> Phone Number</th>
                            <th> Email</th>
                            <th> Status</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for membership in memberships %}
                            <tr role="button" data-id="{{ membership.member_id }}">
                                <th scope="row"><input
                                        class="form-check-input" type="checkbox"
                                        value="{{ membership.member_id }}" id="flexCheckIndeterminate">
                                </th>
                                <td>
                                    {{ membership.first_name }} {{ membership.last_name }}
                                </td>
                                <td> {{ membership.address }}
                                </td>
                                <td> {{ membership.phone_number }}
                                </td>
                                <td>{{ membership.email_address }}
                                </td>
                                <td> {{ membership.membership_status }}
                                </td>
                                <td>
                                    <button class="btn btn-outline" type="button" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item"
                                               href="/customer/update/{{ membership.member_id }}">
                                            Edit </a></li>
                                        <li><a class="dropdown-item"
                                               href="/customer/delete/{{ membership.member_id }}"> Delete </a></li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <ul>

    </ul>
{% endblock %}