<!-- Modal -->
<div class="modal fade" id="orderCreateModal" tabindex="-1" aria-labelledby="orderCreateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="order_name">Create New Order For Product</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="orderForm"> 
              {% csrf_token %}
              {{ form.as_p }}
            </form>
        </div>
        <div class="modal-footer">
            <button id="submitItem" type="submit" class="btn btn-primary">Submit</button>
       
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
</div>