<!-- Modal -->
<div class="modal fade" id="orderEditModal" tabindex="-1" aria-labelledby="orderEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Order Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="editOrderForm">
            {% csrf_token %}
            <input type="hidden" id="order_id"/>
            {{ editform.as_p }}
          </form>
        </div>
        <div class="modal-footer">
            <button id="editSubmitBtn" type="submit" class="btn btn-warning">Update</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>