{% extends 'base.html' %}

{% block content %}
<style>
    .summary {
        text-indent: 10px;
    }
</style>

<div class="container-fluid my-4 cust-container px-5">
    <div class="summary row mb-4 bg-white rounded shadow py-3">
        <table class="table">
            <thead>
            <tr class="align-middle">
                <th scope="col"><h3>Financial Report</h3></th>
                <th scope="col"><h3>{{ current_year }}</h3></th>
                <th scope="col"><h3>{{ previous_year }}</h3></th>
                <th scope="col"><p class="mt-3">Year-on-year<br>% change</p></th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Sales</th>
                    <td>{{ current_year_financial_data.total_sales }}</td>
                    <td>{{ previous_year_financial_data.total_sales }}</td>
                    <td>{{ yoy_change_total_sales }}</td>
                </tr>
                <tr>
                    <th scope="row">Purchases</th>
                    <td>{{ current_year_financial_data.total_purchases }}</td>
                    <td>{{ previous_year_financial_data.total_purchases }}</td>
                    <td>{{ yoy_change_total_purchases }}</td>
                </tr>
                <tr>
                    <th scope="row">Employee wages</th>
                    <td>{{ current_year_financial_data.total_employee_wages }}</td>
                    <td>{{ previous_year_financial_data.total_employee_wages }}</td>
                    <td>{{ yoy_change_employee_wages }}</td>
                </tr>
                <tr>
                    <th scope="row">Net Profit</th>
                    {% if current_year_financial_data.net_profit < 0 %}
                        <td class="text-danger">{{ current_year_financial_data.net_profit }}</td>
                    {% else %}
                        <td>{{ current_year_financial_data.net_profit }}</td>
                    {% endif %}
                    
                    {% if previous_year_financial_data.net_profit < 0 %}
                        <td class="text-danger">{{ previous_year_financial_data.net_profit }}</td>
                    {% else %}
                        <td>{{ previous_year_financial_data.net_profit }}</td>
                    {% endif %}

                    {% if yoy_change_net_profit < 0 %}
                        <td class="text-danger">{{ yoy_change_net_profit }}</td>
                    {% else %}
                        <td>{{ yoy_change_net_profit }}</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
