{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid px-4">
        <div class="row">
            <div class="col-6">
                <div class="bg-white rounded shadow p-4">
                    <h3>Invoice: #{{ invoice.invoice_id }}</h3>
                </div>

                <div class="bg-white rounded shadow mt-3 p-4">
                    <h3>Invoice Details</h3>
                    <div class="row mt-3">
                        <div class="col-2">
                            <p class="fw-bold">Invoice Date:</p>
                            <p class="fw-bold">Created By:</p>
                            <p class="fw-bold">Status:</p>
                            <p class="fw-bold">Payment Terms:</p>
                        </div>
                        <div class="col-6">
                            <p>{{ invoice.invoice_date }}</p>
                            <p>{{ invoice.employee_id }}</p>
                            <p>{{ invoice.status }}</p>
                            <p>{{ invoice.payment_terms }}</p>
                        </div>
                        <div class="col">

                        </div>
                    </div>
                </div>
                <div class="bg-white rounded shadow mt-3 p-4">
                    <h3>Invoice Products</h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Price Per Unit</th>
                            <th>Total Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for invoiceProduct in invoiceProducts %}
                            <tr>
                                <th>{{ invoiceProduct.product_id.product_id }}</th>
                                <th>{{ invoiceProduct.product_id.product_name }}</th>
                                <th>{{ invoiceProduct.invoice_quantity }}</th>
                                <th>${{ invoiceProduct.invoice_price_per_unit }}</th>
                                <th>${{ invoiceProduct.total_price }}</th>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td class="text-end" colspan="4">Sub-Total:</td>
                            <td>${{ subtotal }}</td>
                        </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
            <div class="col-6">
                <div class="bg-white rounded shadow">
                    <iframe src="{{ pdf_file_path }}" width="100%"
                            height="800px">
                        This browser does not support PDFs. Please download the PDF to view it: <a
                            href="{{ pdf_file_path }}">Download PDF</a>.
                    </iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}