{% extends 'base.html' %}

{% block content %}
<style>
    .invoiceProduct table {
        border-top: 3px solid grey; 
        border-left: 3px solid grey; 
        text-indent: 10px;
    }
    .invoiceProduct th, .invoiceProduct td {
        border-bottom: none; 
    }
</style>

    <div class="container-fluid my-4 cust-container px-5">
        <div class="row mb-4 bg-white rounded shadow py-3">
            <p>Payment Summary</p>
            <div class="col-3">
                <p>Total Outstanding</p>
                <h3>${{ total_sum }}</h3>
                <p>{{ total_invoice_count }} Invoices</p>
            </div>
            <div class="col-3">
                <p>Payment Due Today</p>
                <h3>$691.53</h3>
                <p>5 Invoices</p>
            </div>
            <div class="col-3">
                <p>Payment Due in 30 days</p>
                <h3>$691.53</h3>
                <p>10 Invoices</p>
            </div>
            <div class="col-3">
                <p>Overdue Invoice</p>
                <h3>$691.53</h3>
                <p>15 Invoices</p>
            </div>
        </div>
        <div class="row mb-4 py-3">
            <div class="col mb-4 px-0">
                <div class="container bg-white rounded shadow p-3">
                    <form method="GET" action="{% url 'invoice_management' %}">
                        <div class="btn-group">
                            <div class="btn-container d-flex justify-content-start mb-4">
                                <button type="submit" value="Submit" class="btn btn-primary mb-4"><i class="bi bi-funnel-fill"></i>Filter</button>
                            </div>
                            <div class="btn-container d-flex justify-content-start mb-4">
                                <a class="btn btn-primary ms-4 mb-4" href="{% url 'create_invoice' %}"><i class="bi bi-person-fill-add"></i>
                                    New Invoice
                                </a>
                            </div>
                        </div>
                        {{ form.as_p }}
                    </form>
                    <table id="invoiceTable" class="table table-hover">
                        <thead>
                        <tr>
                            {# invoice id, invoice date, status, employee #}
                            <th>Invoice ID</th>
                            <th>Date</th>
                            <th>Value</th>
                            <th>Payment</th>
                            <th>Employee</th>
                            <th>Payment Due Date</th>
                            <th>Status</th>
                        
                            {% if user_data.employee_role == "Manager" or user_data.employee_role == "Chairman" %}
                                    <th>Action</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {# Add in the data from the database #}
                        {% for invoice in invoices %}
                        <tr class="invoice-row" data-invoice-id="{{ invoice.invoice_id }}">
                            <td>{{ invoice.invoice_id }}</td>
                            <td>{{ invoice.invoice_date }}</td>
                            <td>{{ invoice.total_value }}</td>
                            <td>{{ invoice.payment_terms }}</td>
                            <td>{{ invoice.employee_id }}</td>
                            <td>{{ invoice.payment_due_date }}</td>
                            <td>{{ invoice.status }}</td>
                            {% if user_data.employee_role == "Manager" or user_data.employee_role == "Chairman" %}
                                {% if invoice.status == 'Pending' %}
                                    <td>
                                        <a onclick="openEditBootstrapModal('{{ invoice.invoice_id }}','{{invoice.status}}')" class="btn btn-sm btn-secondary"
                                        title="Update Product">
                                        <i class="bi bi-pencil-square"></i>
                                        </a>
                                    </td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endif %}
                        </tr>
                        <tr class="invoiceProduct" id="products-{{ invoice.invoice_id }}" style="display: none;">
                            <td colspan="5">
                                <table id="invoiceProductTable" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="product">Product Name</th>
                                            <th class="quantity">Quantity</th>
                                            <th class="price">Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in invoice.invoiceproduct_set.all %}
                                    <tr class="invoice-product-row" id="products-{{ invoice.invoice_id }}">
                                        <td>{{ item.product_id.product_name }}</td>
                                        <td>{{ item.invoice_quantity }}</td>
                                        <td>{{ item.invoice_price_per_unit }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% include './modal/edit_invoice.html' %} 
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function(){

        invoiceRows.forEach(row => {
            row.addEventListener('click', rowClickHandler);
        });

        $("#submitEditBtn").click(function(event){
            event.preventDefault();
            var idBtn = $('#submitEditBtn').data('attr')
            var csrf_token = $('input[name=csrfmiddlewaretoken]').val();
            var formData = $('#invoice_status').val();
            
            $.ajax({

                url: `update/${idBtn}`,
                method: "POST",
                headers : { 'X-CSRFToken': csrf_token},
                data: {'product_status' : formData} ,
                success: function(data){
                    if(data.success){
                        window.location.reload();
                        alert('Invoice updated successfully');
                    }
                }
            });
        });

        $(document).on('shown.bs.modal', '#editInvoiceModal', function () {
            addClickListeners();
        });
    });


    const invoiceRows = document.querySelectorAll('.invoice-row');

    function rowClickHandler() {
            const element_invoice_id = this.getAttribute('data-invoice-id');
            const productRow = document.getElementById(`products-${element_invoice_id}`);

            if (productRow) {
                if (productRow.style.display === 'none' || productRow.style.display === '') {
                    productRow.style.display = 'table-row';
                } else {
                    productRow.style.display = 'none';
                }
            } else {
                console.error('Product row not found for ID:', element_invoice_id);
            }
        }

   

    function removeClickListeners() {
        invoiceRows.forEach(row => {
            row.removeEventListener('click', rowClickHandler);
        });
    }

    // Function to re-add event listeners
    function addClickListeners() {
        invoiceRows.forEach(row => {
            row.addEventListener('click', rowClickHandler);
        });
    }


    function openEditBootstrapModal(invoiceID,invoiceStatus){
        removeClickListeners();
        $('#submitEditBtn').attr('data-attr',invoiceID);
        $('#invoice_status').val(invoiceStatus).change();
        $('#editInvoiceModal').modal('show');
    }

</script>
{% endblock %}