{% extends 'base.html' %}

{% block content %}
    <style>
        .summary {
            text-indent: 10px;
        }

        .invoiceProduct table {
            border-top: 3px solid grey;
            border-left: 3px solid grey;
            text-indent: 10px;
        }

        .invoiceProduct th, .invoiceProduct td {
            border-bottom: none;
        }
    </style>

    <div class="container-fluid my-4 cust-container px-2">
        <h1 class="mb-3">Manage Invoice</h1>
        <div class="summary row mb-4 bg-white rounded shadow py-3">
            <p>Payment Summary {{ current_year }}</p>
            <div class="col-2 me-5">
                <p>Total Purchases</p>
                <h3>${{ total_sum }}</h3>
                <p>{{ total_invoice_count }} Invoices</p>
            </div>
            <div class="col-3">
                <p>Payment Due Today</p>
                <h3>${{ sum_due_today }}</h3>
                <p>{{ count_due_today }} Invoices</p>
            </div>
            <div class="col-3">
                <p>Payment Due in 30 days</p>
                <h3>${{ sum_due_30_days }}</h3>
                <p>{{ count_due_30_days }} Invoices</p>
            </div>
            <div class="col-3">
                <p>Overdue Invoice</p>
                <h3>${{ sum_overdue }}</h3>
                <p>{{ count_overdue }} Invoices</p>
            </div>
        </div>
        <div class="row mb-4 py-3">
            <div class="col mb-4 px-0">
                <div class="bg-white rounded shadow p-3">
                    <form method="GET" action="{% url 'invoice_management' %}">
                        <div class="btn-group">
                            <div class="btn-container d-flex justify-content-start">
                                <button type="submit" value="Submit" class="btn btn-secondary mb-4"><i
                                        class="bi bi-funnel-fill"></i> Filter
                                </button>
                            </div>
                            <div class="btn-container d-flex justify-content-start mb-4">
                                <a class="btn btn-primary ms-4" href="{% url 'create_invoice' %}"><i
                                        class="bi bi-person-fill-add"></i>
                                    New Invoice
                                </a>
                            </div>
                        </div>
                        <div>
                            <a class="btn btn-outline" data-bs-toggle="collapse" href="#filterCollapse" role="button"
                               aria-expanded="false" aria-controls="collapseExample">
                                <i class="bi bi-chevron-down"></i>
                                Filter Options
                            </a>
                        </div>
                        <div class="row collapse m-3" id="filterCollapse">
                            <div class="col-6">
                                {{ form.invoice_date__gte.label_tag }}
                                {{ form.invoice_date__gte }}
                                {{ form.payment_due_date__gte.label_tag }}
                                {{ form.payment_due_date__gte }}
                                {{ form.payment_terms.label_tag }}
                                {{ form.payment_terms }}
                                {{ form.employee_id.label_tag }}
                                {{ form.employee_id }}
                            </div>
                            <div class="col-6">
                                {{ form.invoice_date__lte.label_tag }}
                                {{ form.invoice_date__lte }}
                                {{ form.payment_due_date__lte.label_tag }}
                                {{ form.payment_due_date__lte }}
                                {{ form.status.label_tag }}
                                {{ form.status }}
                            </div>
                        </div>
                        {#                        {{ form.as_p }}#}
                    </form>
                    <table id="invoiceTable" class="table table-hover">
                        <thead>
                        <tr>
                            {# invoice id, invoice date, status, employee #}
                            <th>ID</th>
                            <th>Date</th>
                            <th>Value</th>
                            <th>Payment</th>
                            <th>Employee</th>
                            <th>Payment Due Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {# Add in the data from the database #}
                        {% for invoice in invoices %}
                            <tr class="invoice-row" data-invoice-id="{{ invoice.invoice_id }}">
                                <td>{{ invoice.invoice_id }}</td>
                                <td>{{ invoice.invoice_date }}</td>
                                <td>{{ invoice.total_value }}</td>
                                <td>{{ invoice.payment_terms }}</td>
                                <td>{{ invoice.employee_id }}</td>
                                <td>{{ invoice.payment_due_date }}</td>
                                <td>{{ invoice.status }}</td>
                                <td>
                                    <a href="{% url 'invoice_details' invoice.invoice_id %}"
                                       class="btn btn-primary btn-small">
                                        <i class="bi bi-eye-fill"></i>
                                    </a>
                                    {% if user_data.employee_role == "Manager" or user_data.employee_role == "Chairman" %}
                                        {% if invoice.status == 'Pending' %}

                                            <a onclick="openEditBootstrapModal('{{ invoice.invoice_id }}','{{ invoice.status }}')"
                                               class="btn btn-secondary"
                                               title="Update Product">
                                                <i class="bi bi-pencil-square"></i>
                                            </a>

                                        {% else %}
                                        {% endif %}
                                    {% endif %}
                                    <form action="{% url 'delete_invoice' invoice.invoice_id %}" method="post"
                                          style="display:inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger"
                                                onclick="return confirm('Are you sure?');">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {#                        <tr class="invoiceProduct" id="products-{{ invoice.invoice_id }}" style="display: none;">#}
                            {#                            <td colspan="10">#}
                            {#                                <table id="invoiceProductTable" class="table table-hover">#}
                            {#                                    <thead>#}
                            {#                                        <tr>#}
                            {#                                            <th>Product Name</th>#}
                            {#                                            <th>Quantity</th>#}
                            {#                                            <th>Price</th>#}
                            {#                                            <th>Sub-total</th>#}
                            {#                                        </tr>#}
                            {#                                    </thead>#}
                            {#                                    <tbody>#}
                            {#                                    {% for item in invoice.invoiceproduct_set.all %}#}
                            {#                                    <tr class="invoice-product-row" id="products-{{ invoice.invoice_id }}">#}
                            {#                                        <td>{{ item.product_id.product_name }}</td>#}
                            {#                                        <td>{{ item.invoice_quantity }}</td>#}
                            {#                                        <td>{{ item.invoice_price_per_unit }}</td>#}
                            {#                                        <td>{{ item.sub_total }}</td>#}
                            {#                                    </tr>#}
                            {#                                    {% endfor %}#}
                            {#                                    </tbody>#}
                            {#                                </table>#}
                            {#                            </td>#}
                            {#                        </tr>#}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% include './modal/edit_invoice.html' %}
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#invoiceTable').DataTable({
                "columnDefs": [
                    {"orderable": false, "targets": [5]} // Disables sorting on the first and last columns
                ],
                "paging": true, // Enable pagination
                "pageLength": 10, // Set the number of items per page
                "pagingType": "simple_numbers"
            });

            invoiceRows.forEach(row => {
                row.addEventListener('click', rowClickHandler);
            });

            $("#submitEditBtn").click(function (event) {
                event.preventDefault();
                var idBtn = $('#submitEditBtn').data('attr')
                var csrf_token = $('input[name=csrfmiddlewaretoken]').val();
                var formData = $('#invoice_status').val();

                $.ajax({

                    url: `update/${idBtn}`,
                    method: "POST",
                    headers: {'X-CSRFToken': csrf_token},
                    data: {'product_status': formData},
                    success: function (data) {
                        if (data.success) {
                            window.location.reload();
                            alert('Invoice updated successfully');
                        }
                    }
                });
            });

            $(document).on('shown.bs.modal', '#editInvoiceModal', function () {
                addClickListeners();
            });

            var collapseElement = document.getElementById('filterCollapse'); // Replace 'collapseExample' with your collapse element's ID
            var triggerElement = document.querySelector('[data-bs-toggle="collapse"][href="#filterCollapse"], [data-bs-toggle="collapse"][data-bs-target="#filterCollapse"]'); // Adjust selector as needed

            collapseElement.addEventListener('show.bs.collapse', function () {
                triggerElement.querySelector('.bi').classList.remove('bi-chevron-down');
                triggerElement.querySelector('.bi').classList.add('bi-chevron-up');
            });

            collapseElement.addEventListener('hide.bs.collapse', function () {
                triggerElement.querySelector('.bi').classList.remove('bi-chevron-up');
                triggerElement.querySelector('.bi').classList.add('bi-chevron-down');
            });

        });


        const invoiceRows = document.querySelectorAll('.invoice-row');

        function rowClickHandler() {
            const element_invoice_id = this.getAttribute('data-invoice-id');
            const productRow = document.getElementById(`products-${element_invoice_id}`);

            if (productRow) {
                if (productRow.style.display === 'none' || productRow.style.display === '') {
                    productRow.style.display = 'table-row';
                } else {
                    productRow.style.display = 'none';
                }
            } else {
                console.error('Product row not found for ID:', element_invoice_id);
            }
        }


        function removeClickListeners() {
            invoiceRows.forEach(row => {
                row.removeEventListener('click', rowClickHandler);
            });
        }

        // Function to re-add event listeners
        function addClickListeners() {
            invoiceRows.forEach(row => {
                row.addEventListener('click', rowClickHandler);
            });
        }


        function openEditBootstrapModal(invoiceID, invoiceStatus) {
            removeClickListeners();
            $('#submitEditBtn').attr('data-attr', invoiceID);
            $('#invoice_status').val(invoiceStatus).change();
            $('#editInvoiceModal').modal('show');
        }

    </script>
{% endblock %}