{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid row my-4 cust-container px-5">
        <div class="row gx-5">
            <div class="col-4">
                <div class="mb-4 d-flex justify-content-between">
                    <input type="text" class="form-control w-75" placeholder="Search" aria-label="Search"
                           aria-describedby="basic-addon1">
                    <a class="btn btn-primary" href="{% url 'create_sales' %}"><i class="bi bi-plus"></i>
                        New
                    </a>
                </div>

                <div class="list-group shadow">
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">ISF-001</h5>
                        </div>
                        <p class="mb-1">Total Amount: $502.90</p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">ISF-002</h5>
                        </div>
                        <p class="mb-1">Total Amount: $502.90</p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">ISF-002</h5>
                        </div>
                        <p class="mb-1">Total Amount: $502.90</p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">ISF-002</h5>
                        </div>
                        <p class="mb-1">Total Amount: $502.90</p>
                    </a>
                </div>
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="bg-white rounded shadow py-3 px-4">
                        <div class="d-flex justify-content-between">
                            <h2>Sales : 001</h2>
                            <button class="btn btn-primary">Export</button>
                        </div>
                        <small>Sales Number</small>
                        <p>001</p>

                        <small>Sales Date</small>
                        <p>03/07/2024</p>

                        <p class="fw-bold">Member Details</p>
                        <div class="d-flex justify-content-start">
                            <div class="me-5">
                                <small>Name</small>
                                <p>Jack</p>

                                <small>Email</small>
                                <p>Jack@gmail.com</p>
                            </div>
                            <div>
                                <small>Phone Number</small>
                                <p>91829581</p>

                                <small>Address</small>
                                <p>Blk 123 Woodlands Ave 6</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="bg-white rounded shadow py-3 px-4">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Item</th>
                                <th>Quantity</th>
                                <th>Price Per Unit</th>
                                <th>Total Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Wooden Table</td>
                                <td>3</td>
                                <td>$20</td>
                                <td>$60</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr class="text-end">
                                <td class="border-0" colspan="3">Sub Total</td>
                                <td class="border-0">$2,200.00</td>
                            </tr>
                            <tr class="text-end">
                                <td class="border-0" colspan="3">Total</td>
                                <td class="border-0">$2,200.00</td>
                            </tr>
                            <tr class="text-end">
                                <td class="border-0" colspan="3">Balance Due</td>
                                <td class="border-0">$2,200.00</td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}