{% extends 'base.html' %}

{% block content %}
    <style>
        .summary {
            text-indent: 10px;
        }

        .transactionProduct table {
            border-top: 3px solid grey;
            border-left: 3px solid grey;
            text-indent: 10px;
        }

        .transactionProduct th, .transactionProduct td {
            border-bottom: none;
        }

        .btn-small {
            padding: 4px 10px;
        }
    </style>

    <div class="container-fluid my-4 cust-container px-2">
        <div class="summary row mb-4 bg-white rounded shadow py-3">
            <p>Sales Summary {{ current_year }}</p>
            <div class="col-3">
                <p>Total Revenue</p>
                <h3>${{ total_sum }}</h3>
                <p>{{ total_quantity_sold }} items sold</p>
            </div>
            <div class="col-3">
                <p>Sales Count</p>
                <h3>{{ total_transaction_count }}</h3>
                <p>transactions</p>
            </div>
        </div>
        <div class="row mb-4 py-3">
            <div class="col mb-4 px-0">
                <div class="bg-white rounded shadow p-3">
                    <form method="GET" action="{% url 'sales_management' %}">
                        <div class="btn-group">
                            <div class="btn-container d-flex justify-content-start mb-4">
                                <button type="submit" value="Submit" class="btn btn-secondary"><i
                                        class="bi bi-funnel-fill"></i> Filter
                                </button>
                            </div>
                            <div class="btn-container d-flex justify-content-start mb-4">
                                <a class="btn btn-primary ms-3" href="{% url 'create_sales' %}"><i
                                        class="bi bi-person-fill-add"></i>
                                    New Sales Order
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {{ form.transaction_date__gte.label_tag }}
                                {{ form.transaction_date__gte }}
                                {{ form.payment_terms.label_tag }}
                                {{ form.payment_terms }}
                            </div>
                            <div class="col-6">
                                {{ form.transaction_date__lte.label_tag }}
                                {{ form.transaction_date__lte }}
                                {{ form.employee_id.label_tag }}
                                {{ form.employee_id }}
                            </div>
                        </div>
                    </form>
                    <table id="salesTable" class="table table-hover">
                        <thead>
                        <tr>
                            {# transaction id, date, employee #}
                            <th>ID</th>
                            <th>Date</th>
                            <th>Value</th>
                            <th>Payment</th>
                            <th>Employee</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {# Add in the data from the database #}
                        {% for transaction in sales %}
                            <tr class="transaction-row align-middle"
                                data-transaction-id="{{ transaction.transaction_id }}">
                                <td>{{ transaction.transaction_id }}</td>
                                <td>{{ transaction.transaction_date }}</td>
                                <td>{{ transaction.total_value }} </td>
                                <td>{{ transaction.payment_terms }}</td>
                                <td>{{ transaction.employee_id }}</td>
                                <td>
                                    <a href="{% url 'sales_details' transaction.transaction_id %}"
                                       class="btn btn-primary">
                                        <i class="bi bi-eye-fill"></i>
                                    </a>
                                    <a class="btn btn btn-secondary"
                                       title="Update Product">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                    <form action="{% url 'delete_sales' transaction.transaction_id %}" method="post"
                                          style="display:inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger"
                                                onclick="return confirm('Are you sure?');">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {#                                <tr class="transactionProduct" id="products-{{ transaction.transaction_id }}" style="display: none;">#}
                            {#                                <td colspan="5">#}
                            {#                                    <table id="transactionProductTable" class="table table-hover">#}
                            {#                                        <thead>#}
                            {#                                            <tr>#}
                            {#                                                <th class="product">Product Name</th>#}
                            {#                                                <th class="quantity">Quantity</th>#}
                            {#                                                <th class="price">Price</th>#}
                            {#                                            </tr>#}
                            {#                                        </thead>#}
                            {#                                        <tbody>#}
                            {#                                         tnspdt product name, quantity, price     #}
                            {#                                        {% for item in transaction.transactionproduct_set.all %}#}
                            {#                                        <tr class="transaction-product-row" id="products-{{ transaction.transaction_id }}">#}
                            {#                                            <td>{{ item.product_id.product_name }}</td>#}
                            {#                                            <td>{{ item.transaction_quantity }}</td>#}
                            {#                                            <td>{{ item.transaction_price_per_unit }}</td>#}
                            {#                                        </tr>#}
                            {#                                        {% endfor %}#}
                            {#                                        </tbody>#}
                            {#                                    </table>#}
                            {#                                </td>    #}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            const transactionRows = document.querySelectorAll('.transaction-row');

            transactionRows.forEach(row => {
                // console.log('Event listener row:', row);
                row.addEventListener('click', function () {
                    const element_transaction_id = this.getAttribute('data-transaction-id');
                    // console.log('Clicked row transaction ID:', element_transaction_id);
                    const productRow = document.getElementById(`products-${element_transaction_id}`);

                    if (productRow) {
                        if (productRow.style.display === 'none' || productRow.style.display === '') {
                            productRow.style.display = 'table-row';
                        } else {
                            productRow.style.display = 'none';
                        }
                    } else {
                        console.error('Product row not found for ID:', element_transaction_id);
                    }
                });
            });

            $('#salesTable').DataTable({
                "columnDefs": [
                    {"orderable": false, "targets": [5]} // Disables sorting on the first and last columns
                ],
                "paging": true, // Enable pagination
                "pageLength": 10, // Set the number of items per page
                "pagingType": "simple_numbers"
            });

        });
    </script>
{% endblock %}